*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100%;
  background-color: #FFF7EE;
}
html{
    scroll-behavior: smooth;
     
}


header{
    width: 100vw;
    height: 100px;
    margin: 0;padding: 0;
    border-bottom: 1px solid #b47b3a;
    background:linear-gradient(to right,#FFF7EE 60%,#ddb383 );
}
.nav-container{
    
    width: 100vw;
    height: 79px;
    border: 1px;
    top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: black;
}
.nav-logo{
    height: 48px;
    position: relative;
    top: 13px;
    left: 50px;
}
.nav-logo img{
    height: 100%;
    width: 100%;
}
.nav-links{
    display: flex;
   gap: 50px;
    align-items: center;
    position: relative;
    height: 29px;
    top: 10px;
    left: 70px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: 20px;
    font-family: 'lato',sans-serif;
    letter-spacing: 0%;
    line-height: 100%;
}
.nav-signin{
    height: 45px;
    width: 128px;
    border: 1px solid #955E1E;
    padding: 5px 20px 5px 20px;
    top: 10px;
    left: 70px;
    position: relative;
    background: none;
}
.hero-section{
background:linear-gradient(to right top,#FFF7EE 75%,#ddb383 100%);
    height: 620px;
    width: 100vw;
}
.hero-upper{
    left: 162px;
    top: -214px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 35px;
    height: 440px;
    top: 113px;
    position: relative;
    border-left: 1px solid #955E1E;
    padding-left: 20px;
    
}
.hero-upper h1{
    font-family: 'lato';
    font-weight: 500;
    height: 131px;
    line-height: 70px;
    letter-spacing: 0%;
    font-size: 70px;
    padding-left: 20px;
 
}
.hero-upper p{
    font-family: 'lato';
    margin-top: 65px;
    line-height: 36px;
    padding-left: 20px;
    font-size: 0.8rem;
    font-weight:500;
    letter-spacing: 1px;
    
   
}
.hero-button{
   
    margin-left: 20px;
    width: 140px;
    background-color: #955E1E;
    color: white;
    text-align: center;
    height: 60px;
    border: none;
    margin-top: 0px;
}
.hero-right img{
height: 540px;
width: 600px;
border-radius: 30px;
top: 70px;
position:relative;
}
.new{
    height: 129px;
    width: 129px;
 position: absolute;
 right: 360px;
 top: 570px;
 
}
.new img{
     height:100%;
    width:100%
}
.elipse{
     height: 125px;
    width: 125px;
 position: absolute;
 right: 353px;
bottom: 310px;
}
.elipse img{
     height:100%;
    width:100%
}
.hero-down{
    display: grid;
    width: 81vw;
    margin-left: 10.5%;
    margin-top: 100px;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr))
}
.items{
    border: 1px solid #955E1E;
    width: 100%;
    height: 200%;
    background-color: #FFF7EE;
}
.items img{
    width: 65%;
   position: relative;
   top: 50px;
   left: 60px;
    height: 30%;
    
}
.items1{
    border-left: none;
}
.items5{
    border-right: none;
}
.secondsection{
    width: 100vw;
    height: 780px;
    background-color: #955E1E;
    margin-top: 400px;
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    
}
.secondsectionimg{
    width: 550px;
    height: 100%;
}
.secondsectionimg img{
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 90px;
}
.secondsectiontext{
    width: 55vw;
    margin: 100px;
    height: 100%;
    color: white;

}
.secondsection h1{
    font-size: 50px;
    font-family: 'lato';
    margin-left: 50px;
    margin-bottom: 30px;
}
.secondsection p{
     font-size: 21px;
    font-family: 'lato';
    margin-left: 50px;
    line-height: 40px;
}
.secondsection button{
    width: 180px;
    height: 65px;
    font-weight: 600;
    border: none;
    background-color: white;
    font-size: 1.1rem;
    margin: 50px;
    color: #b47b3a;text-align: center;
}
.service{
    width: 100vw;
    height: 800px;
    background-color: #FFF7EE;
    margin-top: 350px;
}
.service h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'lato';
}
.servicespra{
    margin-top: 30px;
    text-align: center;
    color: gray;
    line-height: 35px;
}
.servicecontainer{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.servicecontainer h2,.servicecontainer p{
    text-align: center;
}
.text{
    font-size: 14px;
}
.services{
    width: 20vw;
    height: 400px;
    border: 1px solid #955E1E;
    background-color:#FFF3E4;
    margin-top: 60px;
}
.one{
    margin-left: 80px;
}
.icon{
    width: 120px;
    margin-left: 150px;
    margin-top: 20px;
    height: 120px;background-color: #b47b3a;
}
.icon img{
    width: 70%;
    height: 70%;
    margin: 20px;
}

.para{
    line-height: 35px;
    margin-top: 30px;
    font-family: 'lato';
    text-align: center;
    color: gray;
}
.button{
    margin-top: 20px;
}
.button a{
    text-align: center;
    text-decoration: none;
    color: #955E1E;
    font-family: 'lato';
    margin-left: 160px;
}
.ourproduct{
    margin-top: 100px;
}

.ourproducttop{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 750px;
}
.ourproducttop h1{
   font-family: 'lato';
   font-size: 50px;
}
.ourproducttop button{
    width: 150px;border: none;
    height: 60px;
    background-color: #955E1E;
    color: white;
}
.ourproductmiddle{ display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
    gap: 950px;
}.ourproductmiddle h2{
   font-family: 'lato';
   font-size: 40px;
   font-weight: 500;
}
.ourproductmiddle a{
   text-decoration: none;
    font-size: 30px;
    color:#955E1E;
}
.ourproductcontainer{
    display: flex;
    justify-content: space-evenly;
   gap: 10px;
    margin-top: 100px;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: 10%;
}
.ourproductitems{
    width: 18vw;
    height: 512px;
}
.ourproductitems img{
    width: 100%;
    height: 80%;
}
.ourproductitems h3,h4{
    text-align: center;
    font-family: 'lato';
}
.ourproductitems h4{
    color: gray;
}
.whychooseus{
    margin-top: 150px;
    margin-bottom: 0px;
}
.whychooseushead{
    font-family: 'lato';
}
.whychooseushead h1{
    text-align: center;
    font-size: 50px;
}
.whychooseushead p{
    font-size: 13px;
    line-height: 23px;
    margin-top: 30px;
    text-align: center;
    color: gray;
}
.whychooseuscontainer{
display:grid;
margin-top: 50px;
grid-template-columns: 400px 40px;
padding-left: 100px;
}
.whychooseusitems{
    width: 50vw;
    height: 300px;
}
.iconone{
    width: 80px;
    height: 80px;
    
    margin-top: 30px;
    background-color: #b47b3a;
}
.iconone img{
    width: 100%;
    height: 100%;
}
.textone,.paraone{
    text-align: start;
}
.textone{
    margin-top: 30px;
    font-family: 'lato';
}
.paraone{
    font-family: 'lato';
    margin-top: 10px;
    color: gray;
}
.oneimg{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 45%;
    margin: 40px;
    z-index: 1;
    
}
.twoimg{
    z-index: 0;
 position: relative;
    width: 600px;
    height: 500px;
   bottom: 480px;
    left:1325px;   
}
.testmonial{
    width: 100vw;
    margin-top: 0px;
}
.testimonialtop{
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: row;
}
.testemonialleft h1{
    font-size: 3.3rem;
    font-family: 'lato';
}
.testemonialleft button{
    width: 130px;
    height: 50px;
    background-color: #955E1E;
    color: white;
    border: none;
    font-weight: 600;
    font-family: 'lato';
    margin-top: 50px;
}
.testemonialright button{
 background-color: rgba(166, 169, 172,0.3);
    margin-left: 20px;
 width: 60px;
border: none;
 height: 60px;
 margin-top: 10px;
}
.testemonialright img{
    width: 100%;
}
.testimonialbottom{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100vw;
    justify-content: space-around;
}

.testimonialitems{
    margin-top: 140px;
    width: 600px;
    height: 650px; 
    background-color: #F0F0F0;
    animation:fade 10s linear infinite ; 
}

@keyframes fade {
from{
        transform: translateX(-500%);
        
    }
    to{
        transform: translateX(100%);
    }
 
}
.testimonialitems img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    position: relative;
    bottom: 60px;
    left: 75px;
}
.testimonialitems h3{
    text-align: center;
    font-family: 'lato';
}
.testimonialitems p{
    line-height: 30px;
    color: gray;
    font-family: 'lato';
    margin: 30px;
}
.testimonialitems h4{
    margin-top: 20px;
    stroke: none;
    font-size: 1.2rem;
    
}
.ourblog{
    width: 100vw;
    height: 800px;
    margin-top: 150px;
}
.ourbloghead h1{
    text-align: center;
font-family: 'lato';
font-size: 4rem;
}
.ourbloghead p{
    text-align: center;color: gray;
    font-family: 'lato';
    font-size: 1rem;
    margin-top: 20px;
}
.ourblogcontainer{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.ourblogitems{
    width: 400px;
height: 700px;
margin-top: 100px;

}
.ourblogitems img{
    height: 60%;
    width: 100%;
}
.ourblogitems h4{
    color: gray;
}
.ourblogitems h4,h2,p{
 font-family: 'lato';
    text-align: start;
    margin-top: 20px;
}
.ourblogitems h2{
    font-size: 30px;
}
.ourblogitems p{
    line-height: 30px;
}
.ourblogitems button{
    width: 150px;
    height: 60px;
    margin-top: 20px;
    font-family: 'lato';
   border: none;
    background-color: #b47b3a;
    color: white;
    font-weight: 600;
}
footer{
    width: 100%;
    height: 600px;
    background-color: #955E1E;
    margin-top: 500px;
}
.footertop{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.footerone img{
    width: 400px;
    margin-top: 130px;
    height: 100px;
}
.footerone p{
    color:#FFDFBA;
    font-family: 'lato';
    font-weight: 400;
    line-height: 34px;
}
.footertwo h2,.footerthree h2,.footerfour h2,.footerfive h2{
    text-decoration: none;
    font-weight: 400;
    color: white;
    font-family: 'lato';
    font-size: 28px;
}
.footertwo a,.footerthree a,.footerfour a,.footerfive a{
    text-decoration: none;
    color: #FFDFBA;
    font-family: 'lato';
font-size: 18px;
font-weight: 400;
}
.footertwo,.footerthree,.footerfour,.footerfive{
    margin-top: 130px;
    display: flex;
    flex-direction:column;
    gap: 30px;
}
.footertop{
    border-bottom: 1px solid #FFDFBA;
    height: 85%;
    width: 90%;
    margin-left: 100px;
    
}
.footerbottom{display: flex;
justify-content: space-around;
align-items: center;
}
.footerbottomone h4{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    font-family: 'lato';
}
.footerbottomtwo{
    display: flex;
    gap: 30px;
}
.footerbottomtwo h4{
    color: white;
    font-family: 'lato';font-size: 1.2rem;
}

/*RESPONSIVENESS*/
/*for tablets (max-width: 1024px) */
@media (max-width: 1023px) {
  .nav-container {
    flex-direction: column;
    gap: 20px;
  }
  header{
    height: 170px;
  }

  .nav-links {
    gap: 25px;
    left: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-upper {
    margin-top: 0px;
    flex-direction: column;
    padding: 20px;
  }
  .hero-left h1,.hero-left p{
    margin-top: 0px;
  }
.hero-down{
    margin-top: 35px;
    margin-left: 0px;
}
.ourproducttop h1{
    margin-top: 310px;
    margin-bottom: 0px;

.ourproductmiddle{
    margin-top: 0px;
}}
  .hero-left {
    align-items: center;
    border-left: none;
    text-align: center;
  }

  .hero-upper h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }

  .hero-upper p {
    font-size: 1rem;
    line-height: 28px;
  }
.elipse,.new{
    display: none;
}
  .hero-right img {
    width: 90%;
    height: auto;
    max-width: 100%;
  }
.hero-down{
    display: flex;
    flex-direction: row;
    width: 100vw;
   
}
.items{
    border: none;
}

  .secondsection {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
.secondsectionimg img{
   width: 80%;
   height: 400px;
}
  .secondsectionimg,
  .secondsectiontext {
    width: 100%;
    margin: 0px;
    
  }

  .servicecontainer {
    margin-top: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ourproducttop {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .ourproductmiddle {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
.testimonialbottom{
    display: flex;
    flex-direction: row;
}
.testimonialitems{
    width: 20vw;
    height: 820px;
}
.last{
    display: none;
}
.twoimg{
    display: none;
}
.oneimg{
    display: none;
}
.whychooseuscontainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    text-align: center;
    margin-left: 20px;
}
.whychooseusitems{
    width: 20vw;
}
.testemonialleft,.testemonialright{
    margin-top: 60px;
}
.testemonialleft h1{
    font-size: 3rem;
}
  .testimonialbottom {
    flex-wrap: wrap;
    justify-content: center;
  }
.ourblogitems{
    width: 25vw;
    height: 300px;
}
.ourblogitems h4,.ourblogitems h2,.ourblogitems p{
    margin-top: 0px;
}
  .ourblogcontainer {

    flex-wrap: wrap;
    gap: 20px;
  }
.ourblogitems p{
    font-size: 16px;
    line-height: 23px;
}
.footerone img{
    width: 100%;
}
.footerone p{
    font-size: 12px;
}
  .footertop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .footerone,.footertwo,.footerthree,.footerfour,.footerfive{
    width: 15vw;
  }
.footerbottom{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.testimonialitems img{
    left: 20px;
  }
  footer {
   
    height: auto;
    padding: 40px 20px;
  }
}

/* for mobile (max-width: 768px) */
@media (max-width: 768px) {
  header {
    height: 130px;
    width: 100vw;
    text-align: center;
  }

  .nav-container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
  }


  .nav-links {
    flex-direction: column;
    gap: 15px;
    right: 50px;
    font-size: 10px;
    align-items: center;
  }
.nav-logo{
    margin-left: 0px;
    left: 0px;
    position: relative;
}
  .nav-signin {
    width: 100px;
    height: 40px;
    left: 0px;
    font-size: 0.9rem;
  }

  .hero-upper h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .hero-upper p {
    font-size: 0.9rem;
    line-height: 24px;
    margin-top: 20px;
  }

  .hero-right img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .hero-down {
    grid-template-columns: 1fr;
    margin: 40px auto;
    width: 90%;
  }

  .secondsection h1 {
    font-size: 2rem;
    text-align: center;
  }

  .secondsection p {
    font-size: 1rem;
    line-height: 28px;
    text-align: center;
  }

  .service h1 {
    font-size: 2rem;
  }

  .services {
    width: 90%;
    margin: 20px auto;
  }

  .ourproductitems {
    width: 90%;
    margin: auto;
  }
#ourproduct{
    margin-top: 990px;
}
  .whychooseushead h1 {
    font-size: 2rem;
  }

  .testimonialbottom {
    flex-direction: row;
    align-items: center;
    
  }
  .testimonialitems{
    height: 700px;
  }
  .testimonialitems img{
    left: 20px;
  }
  .testimonialbottom p{
    font-size: 10px;
  }
.testimonialtop{
    margin-left: 20px;
    margin-top: 50px;
}
  .ourblogitems {
    width: 90%;
    margin: auto;
  }
.ourbloghead h1{
    font-size: 30px;
}
  .footertop {
    margin-top: 20px;
    flex-direction:row;
    align-items: flex-start;
    gap: 20px;
    
  }
  .ourblogitems h2{
    font-size: 25px;
  }
.footerone p{
    font-size: 12px;
}

  .footerbottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
/* Small mobile screens (max-width: 500px) */
@media (max-width: 550px) {
  /* HEADER */
  header {
    height: 150px;
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    padding: 20px;
  }
  .nav-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .nav-links a {
    font-size: 1rem;
  }
  .nav-signin {
    width: 100px;
    height: 38px;
    font-size: 0.85rem;
  }
.hero-section{
    width: 100%;
    padding: 20px;
}
  /* HERO */
  .hero-upper {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-right: 0px;
    padding-right: 0px;
   
  }
  .hero-left {
    border-left: none;
    align-items: center;
    gap: 20px;
  }
  .hero-upper h1 {
    font-size: 1.8rem;
    line-height: 34px;
  }
  .hero-upper p {
    font-size: 0.9rem;
    line-height: 24px;
  }
  .hero-button {
    width: 140px;
    height: 45px;
    font-size: 0.9rem;
  }
  .hero-right img {
    width: 90%;
    height: auto;
    margin-top: 20px;
  }
  .elipse, .new {
    display: none;
  }

  /* HERO DOWN */
  .hero-down {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    width: 35%;
  }
  .items {
    border: none;
    text-align: center;
  }
  .items img {
    left: 0;
    margin: auto;
  }

  /* SECOND SECTION */
  .secondsection {
    flex-direction: column;
    padding: 20px;
    height: auto;
    text-align: center;
  }
  .secondsectionimg img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .secondsectiontext {
    margin: 20px 0;
    width: 100%;
  }
  .secondsection h1 {
    font-size: 1.6rem;
  }
  .secondsection p {
    font-size: 0.95rem;
    line-height: 26px;
  }

  /* SERVICES */
  .service h1 {
    font-size: 1.8rem;
  }
  .servicecontainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .services {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
  }

  .icon{
    margin-left: 140px;
  }
  /* OUR PRODUCT */
  .ourproduct{
    margin-top: 1200px;
  }
  .ourproducttop {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .ourproducttop h1 {
    font-size: 1.8rem;
  }
  .ourproductcontainer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    align-items: center;
  }
  .ourproductitems {
    width: 40%;
  }

  /* WHY CHOOSE US */
  .whychooseuscontainer {
    grid-template-columns: 1fr ;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-left: 20px;
  }
  .whychooseusitems {
    width: 100%;
    text-align: center;
  }
  .oneimg, .twoimg {
    display: none;
  }

  /* TESTIMONIAL */
  .testimonialtop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .testimonialitems {
    width: 30%;
    height: auto;
    padding: 20px;
    margin-left: 40px;
    margin: 20px auto;
    animation: none;
  }
  .testimonialitems p {
    font-size: 0.9rem;
    line-height: 24px;
  }
  .testimonialitems img {
    margin: 0 auto 10px;
    left: 0;
    display: block;
  }

  /* BLOG */
  .ourbloghead h1 {
    font-size: 2rem;
  }
  .ourblogcontainer {
    flex-direction: column;
    gap: 20px;
  }
  .ourblog{
    margin-bottom: 1400px;
  }
  .ourblogitems {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .ourblogitems h2 {
    font-size: 1.2rem;
  }
  .ourblogitems p {
    font-size: 0.9rem;
    line-height: 22px;
  }

  /* FOOTER */
  footer {
    padding: 20px;
    height: auto;
    
  }
  .footertop {
    flex-direction: row;
    gap: 20px;
    margin-left: 0px;
    align-items: start;
    justify-content: start;
    
  }
  .footerone img {
    display: none;
  }
  .footerone p {
    display: none;
  }
.footerfour, .footerfive{
    position: relative;
    left: 100px;
}
  .footertwo, .footerthree, .footerfour, .footerfive {

    width: 25%;
    margin-bottom: 20px;
  }
  .footertop{
    margin-bottom: 20px;
  }
  .footerbottom {
    margin-top: 20px;
    flex-direction: row;
    gap: 10px;
    text-align: center;
  }
}
